.interviewers {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);
}

.new-entity-button {
    width: fit-content;
    margin: 5px 5px 5px 5px;
}

.item-change-element {
    margin-top: 25px;
}

.item-input-element {
    margin-bottom: 35px;
}

@media screen and (max-device-width: 768px) {

}