.entity-table {
    width: 100%;
}

.action-element {
    padding: 5px 5px 5px 5px;
    height: 48px;
    width: 48px;
    cursor: pointer;
}

.new-entity-button {
    margin: 5px 5px 5px 5px;
}

.table-row {
    max-width: 150px;
}

@media screen and (max-device-width: 768px) {
    .table-row {
        max-width: 100px;
    }

    .action-element {
        padding: 5px 5px 5px 5px;
        height: 32px;
        width: 32px;
        cursor: pointer;
    }
}