<div class="interviews">
    <mat-paginator [length]="totalSize"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pageEvent = updatePage($event)">
    </mat-paginator>

    <button mat-raised-button color="primary" class="new-entity-button" (click)="create()">
        {{'interviews.button.create' | translate}}
    </button>

    <p class="empty-table" *ngIf="dataSource.length === 0">{{'interviews.empty' | translate}}</p>

    <mat-accordion *ngIf="dataSource.length > 0" class="headers-align">
        <mat-expansion-panel *ngFor="let element of dataSource"
                             [expanded]="element.isNew">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{!element.isNew ? element.candidate.claimingPosition : ''}}
                </mat-panel-title>
                <mat-panel-description>
                    {{!element.isNew ? element.interviewer.firstName + ' ' + element.interviewer.lastName + ':' +
                    element.candidate.firstName + ' ' + element.candidate.lastName : ''}}
                    <div *ngIf="!shared.isMobile()" class="status-header" [ngClass]="{'status-planned': element.interviewStatus === 'PLANNED',
                 'status-progress': element.interviewStatus === 'IN_PROGRESS',
                 'status-finished': element.interviewStatus === 'FINISHED'}">{{element.interviewStatus}}</div>
                    <div *ngIf="!shared.isMobile()" class="status-header" [ngClass]="{'status-planned': element.decisionStatus === 'SHOULD_BE_HIRED',
                 'status-progress': element.decisionStatus === 'NOT_APPLICABLE',
                 'status-finished': element.decisionStatus === 'SHOULD_NOT_BE_HIRED'}">{{element.decisionStatus}}</div>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <button mat-raised-button color="primary" class="new-entity-button" [disabled]="!isReadyToUpdate()"
                    *ngIf="element.isEdit"
                    (click)="update(element)">
                {{'interviews.button.save' | translate}}
            </button>

            <button mat-raised-button color="link" class="new-entity-button" *ngIf="element.isEdit"
                    (click)="cancelEdit(element)">
                {{'interviews.button.cancel' | translate}}
            </button>

            <button mat-raised-button color="accent" class="new-entity-button" *ngIf="!element.isEdit"
                    (click)="makeEdit(element)" [disabled]="element.interviewStatus === 'FINISHED'">
                {{'interviews.button.change' | translate}}
            </button>

            <button mat-raised-button color="warn" class="new-entity-button" (click)="remove(element)">
                {{'interviews.button.remove' | translate}}
            </button>

            <mat-list role="list" *ngIf="!element.isEdit">
                <mat-list-item role="listitem">{{'interviews.candidate' | translate}}
                    : {{element.candidate.firstName + ' ' + element.candidate.lastName}}</mat-list-item>
                <mat-list-item role="listitem">{{'interviews.interviewer' | translate}}
                    : {{element.interviewer.firstName + ' ' + element.interviewer.lastName}}</mat-list-item>
                <mat-list-item role="listitem">{{'interviews.showCv' | translate}}
                    <button mat-raised-button color="link" (click)="onClickDownloadPdf(element.candidate)"
                            *ngIf="element.candidate.cvFile"
                            class="new-entity-button">
                        {{'candidates.button.load' | translate}}
                    </button>
                    <mat-label *ngIf="!element.candidate.cvFile">: {{'interviews.noCv' | translate}}</mat-label>
                </mat-list-item>
                <mat-list-item role="listitem">{{'interviews.claimingPosition' | translate}}
                    : {{element.candidate.claimingPosition}}</mat-list-item>
                <mat-list-item role="listitem">{{'interviews.template' | translate}}
                    : {{element.interviewTemplate.positionName}}</mat-list-item>
                <mat-list-item role="listitem">{{'interviews.dateTime' | translate}}
                    : {{element.interviewDateTime}}</mat-list-item>
                <mat-list-item role="listitem">{{'interviews.salary' | translate}}
                    : {{element.desiredSalary}}</mat-list-item>
                <mat-list-item role="listitem">{{'interviews.status' | translate}}
                    :
                    <div [ngClass]="{'status-planned': element.interviewStatus === 'PLANNED',
                 'status-progress': element.interviewStatus === 'IN_PROGRESS',
                 'status-finished': element.interviewStatus === 'FINISHED'}">{{element.interviewStatus}}</div>
                </mat-list-item>
                <mat-list-item role="listitem">{{'interviews.mark' | translate}}
                    : <div [ngClass]="{'status-planned': element.totalMark >= 0.70,
                 'status-progress': element.totalMark >= 0.50 && element.totalMark < 0.70,
                 'status-finished': element.totalMark < 0.50}">{{element.totalMark}}</div></mat-list-item>
                <mat-list-item role="listitem">{{'interviews.comment' | translate}}
                    : {{element.totalComment}}</mat-list-item>
                <mat-list-item role="listitem">{{'home.decision' | translate}}
                    :
                    <div [ngClass]="{'status-planned': element.decisionStatus === 'SHOULD_BE_HIRED',
                 'status-progress': element.decisionStatus === 'NOT_APPLICABLE',
                 'status-finished': element.decisionStatus === 'SHOULD_NOT_BE_HIRED'}">{{element.decisionStatus}}</div>
                </mat-list-item>
            </mat-list>

            <mat-list role="list" *ngIf="element.isEdit" class="item-change-element">
                <mat-list-item role="listitem" class="item-input-element">
                    <mat-form-field appearance="fill" class="table-row">
                        <mat-label>{{'interviews.candidate' | translate}}</mat-label>
                        <mat-select [(ngModel)]="newInterviewer.candidate" [compareWith]="objectComparisonFunction">
                            <mat-option *ngFor="let candidate of candidates" [value]="candidate">
                                {{candidate.firstName + ' ' + candidate.lastName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item role="listitem" class="item-input-element">
                    <mat-form-field appearance="fill" class="table-row">
                        <mat-label>{{'interviews.interviewer' | translate}}</mat-label>
                        <mat-select [(ngModel)]="newInterviewer.interviewer" [compareWith]="objectComparisonFunction">
                            <mat-option *ngFor="let interviewer of interviewers" [value]="interviewer">
                                {{interviewer.firstName + ' ' + interviewer.lastName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item role="listitem" class="item-input-element">
                    <mat-form-field appearance="fill" class="table-row">
                        <mat-label>{{'interviews.template' | translate}}</mat-label>
                        <mat-select [(ngModel)]="newInterviewer.interviewTemplate"
                                    [compareWith]="objectComparisonFunction">
                            <mat-option *ngFor="let template of templates" [value]="template">
                                {{template.positionName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item role="listitem" class="item-input-element">
                    <mat-form-field>
                        <mat-label>
                            {{'interviews.date' | translate}}
                        </mat-label>
                        <input matInput [matDatepicker]="datePicker" [(ngModel)]="newInterviewer.interviewDate">
                        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                        <mat-datepicker #datePicker></mat-datepicker>
                        <mat-hint class="text-filed-hint"></mat-hint>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item role="listitem" class="item-input-element">
                    <mat-label>
                        {{'interviews.time' | translate}}
                    </mat-label>
                    <input [ngxTimepicker]="timePicker" [(ngModel)]="newInterviewer.interviewTime">
                    <ngx-material-timepicker #timePicker></ngx-material-timepicker>
                </mat-list-item>
                <mat-list-item role="listitem" class="item-input-element">
                    <mat-form-field appearance="fill" class="table-row">
                        <mat-label>{{'interviews.status' | translate}}</mat-label>
                        <mat-select [(ngModel)]="newInterviewer.interviewStatus">
                            <mat-option *ngFor="let status of statuses" [value]="status">
                                {{status}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item role="listitem" class="item-input-element">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'interviews.comment' | translate}}</mat-label>
                        <input matInput type="text" placeholder="{{'interviews.comment' | translate}}"
                               [(ngModel)]="newInterviewer.totalComment">
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item role="listitem" class="item-input-element">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'interviews.salary' | translate}}</mat-label>
                        <input matInput type="text" placeholder="{{'interviews.salary' | translate}}"
                               [(ngModel)]="newInterviewer.desiredSalary">
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item role="listitem" class="item-input-element">
                    <mat-form-field appearance="fill" class="table-row">
                        <mat-label>{{'interviews.decision' | translate}}</mat-label>
                        <mat-select [(ngModel)]="newInterviewer.decisionStatus">
                            <mat-option *ngFor="let decision of decisions" [value]="decision">
                                {{decision}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-list-item>
            </mat-list>

            <button mat-raised-button color="primary" class="new-entity-button"
                    (click)="goto('interview/' + element.id)" *ngIf="element.interviewStatus === 'PLANNED'">
                {{'home.button.start' | translate}}
            </button>

            <button mat-raised-button color="primary" class="new-entity-button"
                    (click)="goto('interview/' + element.id)" *ngIf="element.interviewStatus === 'IN_PROGRESS'">
                {{'home.button.continue' | translate}}
            </button>

            <button mat-raised-button color="primary" class="new-entity-button"
                    (click)="goto('interview/' + element.id)" *ngIf="element.interviewStatus === 'FINISHED'">
                {{'home.button.details' | translate}}
            </button>

        </mat-expansion-panel>
    </mat-accordion>
</div>