.home {
    display: flex;
    min-height: calc(100vh - 64px);
}

.home-label {
    cursor: pointer;
}

.header-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-management {
    display: flex;
    align-items: center;
}

.exit-button {
    padding-left: 10px;
}

@media screen and (max-device-width: 768px) {
    .home-label {
        font-size: small;
    }

    .login-management {
        font-size: small;
    }
}