<div class="login text-center">
    <main class="form-signin">
        <form>
            <img class="mb-4" src="assets/image/login-icon.png" alt="" width="64" height="64">
            <h1 class="h3 mb-3 fw-normal">{{'login.main-text' | translate}}</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">{{'login.email' | translate}}</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">{{'login.password' | translate}}</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> {{'login.remember-me' | translate}}
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">{{'login.sign-in' | translate}}</button>
            <p class="mt-5 mb-3 text-muted">&copy; Viktor Kulygin, Otus.ru 2021-02, 2021</p>
        </form>
    </main>
</div>