<div class="registration-container">
    <h3>{{'sign-up.main-text' | translate}}</h3>
    <mat-form-field class="registration-text-input" appearance="outline">
        <mat-label>{{'sign-up.email' | translate}}</mat-label>
        <input matInput type="email" placeholder="{{'sign-up.email-placeholder' | translate}}">
        <mat-hint class="text-filed-hint">{{'sign-up.required-field' | translate}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="registration-text-input" appearance="outline">
        <mat-label>{{'sign-up.password' | translate}}</mat-label>
        <input matInput type="password" placeholder="{{'sign-up.password-placeholder' | translate}}">
        <mat-hint class="text-filed-hint">{{'sign-up.required-field' | translate}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="registration-text-input" appearance="outline">
        <mat-label>{{'sign-up.password-repeat' | translate}}</mat-label>
        <input matInput type="password" placeholder="{{'sign-up.password-repeat-placeholder' | translate}}">
        <mat-hint class="text-filed-hint">{{'sign-up.required-field' | translate}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="registration-text-input" appearance="outline">
        <mat-label>{{'sign-up.firstname' | translate}}</mat-label>
        <input matInput placeholder="{{'sign-up.firstname-placeholder' | translate}}">
    </mat-form-field>
    <mat-form-field class="registration-text-input" appearance="outline">
        <mat-label>{{'sign-up.lastname' | translate}}</mat-label>
        <input matInput placeholder="{{'sign-up.lastname-placeholder' | translate}}">
    </mat-form-field>
    <div class="registration-buttons">
        <button class="registration-button" mat-raised-button color="primary">{{'sign-up.sign-up' | translate}}</button>
    </div>
</div>
