<div class="registration-container">
    <h3>New user creation</h3>
    <mat-form-field class="registration-text-input" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="email" placeholder="Please enter your username" [(ngModel)]="newUser.username"
               (keyup.enter)="isCreateAvailable() ? createUser() : false">
        <mat-hint class="text-filed-hint">Required field</mat-hint>
    </mat-form-field>
    <mat-form-field class="registration-text-input" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Please enter your password" [(ngModel)]="newUser.password"
               (keyup.enter)="isCreateAvailable() ? createUser() : false">
        <mat-hint class="text-filed-hint">Required field</mat-hint>
    </mat-form-field>
    <mat-form-field class="registration-text-input" appearance="outline">
        <mat-label>Repeat password</mat-label>
        <input matInput type="password" placeholder="Please repeat your password" [(ngModel)]="newUser.passwordRepeat"
               (keyup.enter)="isCreateAvailable() ? createUser() : false">
        <mat-hint class="text-filed-hint">Required field</mat-hint>
    </mat-form-field>
    <mat-form-field class="registration-text-input" appearance="outline">
        <mat-label>Secret key(for creating admin)</mat-label>
        <input matInput type="search" placeholder="Please enter secret key" [(ngModel)]="newUser.secretKey"
               (keyup.enter)="isCreateAvailable() ? createUser() : false">
    </mat-form-field>
    <div class="registration-buttons">
        <button class="registration-button" mat-raised-button color="primary" [disabled]="!isCreateAvailable()"
                (click)="createUser()">Sign-up
        </button>
        <button routerLink="/login" class="login-button" mat-raised-button color="warn">Cancel</button>
    </div>
</div>